@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', sans-serif;
  --color-brand-900: #1a202c;
  --color-brand-red: #ff4d4d;
}

html,
body {
  overflow-x: clip;
  /* clip is better for sticky than hidden */
  font-family: 'Roboto', sans-serif;
  background-color: #E0E5EC;
  margin: 0;
  padding: 0;
}

.chatbot-toggle {
  bottom: 1.5rem;
  /* bottom-6 */
}

@media (min-height: 900px) and (max-width: 600px) {
  .chatbot-toggle {
    bottom: 4.5rem;
    /* bottom-18 */
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f8fafc;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0d181c;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1f353d;
}